@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;800&display=swap');


// Charte Graphique // 

$dark-blue : #353253;
$gold-yellow : #ffd05f;
$scarlet-red : #ff4b5f;
$off-white : #f9fbfa;
$off-white-t : #f9fbfa0f;
$off-white-th : #f9fbfa2f;

$wash-blue : #8481a2;

// Police // 

$bolby: 'Urbanist', sans-serif;