@import 'variables';
@import 'mixins';

* {
    @include reset-list;
    @include font-rules;
}

body 
{
    background-color: $dark-blue;
}

.pattern 
    {
        position: absolute;
        
        img 
        {
            width: 100vw;
            object-fit: cover;
            opacity: .8;
        }
    }

.menu 
{
    
    @include menu-lateral;

    .logo 
    {
        h1 
        {
            font-size: 4em;
            letter-spacing: 5px;
            span 
            {
                color: $scarlet-red;
                font-weight: 400;

            }
        }

    }
    
    .navbar 
    {

        ul 
        {
            text-align: left;
            display: flex;
            flex-direction: column;

            li 
            {
                display: flex;
                width: 150px;
                height: 25px;
                margin-bottom: 40px;

                i
                {
                    color: $gold-yellow;
                    align-self: center;
                }

                a 
                {
                    display: flex;

                    p 
                    {
                        color: $off-white;
                        font-size: 1em;
                        font-weight: 700;
                        align-self: flex-end;
                        padding-left: 15px;

                        &:hover 
                        {
                            color: $gold-yellow;
                        }
                    }
                    
                    
                    
                }
            }
        }

    }

    .signature 
    {
        display: flex;
        img 
        {
            width:10%;
            border: 1px solid $wash-blue;
            border-radius: 50px;
        }

        p 
        {
            color: $wash-blue;
            margin-left: 10px;
        }
    }

}

.main-container 
{
    margin-left: 25%;
    margin-right: 5%;
    height: 100vh;

    .homepage 
    {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $off-white;
        height: 100vh;

        h2 
        {
            font-size: 3em;
            margin-top: 15px;
            letter-spacing: 5px;

        }

        p
        {
            font-size: 1em;
            margin-top: 15px;
            font-weight: lighter;
        }
        
        img 
        {
            width: 10%;
        }

        ul 
        {
            display: flex;
            margin-top: 25px;

            li 
            {
                padding: 0px 10px;
            }
        }

        .button 
        {
            @include button-red
        }
    }
}

.folio-container 
{
    margin-left: 25%;
    margin-right: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card
    {
        background-color: $off-white-t;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: 15vh auto;
        padding: 30px;
        justify-content: center;
        border-radius: 15px;

        &:hover 
        {
            background-color: $off-white-th;
        }

        .item-img
        {
            width: 100%;

            img
            {
                display: block;
                width: 100%;
                object-fit: cover;
                border-radius: 15px;
            }

            a 
            {
                &:hover
                {
                    &::before 
                    {
                        display: flex;
                        content: url();
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 343.2px;
                        height: 343.2px;
                        background-image: url(assets/img/Nephyla.gif);
                        background-color: $gold-yellow;
                        opacity: .5;
                        border-radius: 15px;
                    }
                }
            }
        }

        .item-description 
        {
            text-align: center;
            a 
            {
                color: $off-white;
                h2
                {
                    padding-top: 10px;

                    &:hover 
                    {
                        color: $gold-yellow;
                    }
                }
            }

            .description-text
            {
                padding-top: 10px;
            }
        }

    }


}
