@import 'variables';
@import 'mixins';

* {
    @include reset-list;
    @include font-rules;
}

body 
{
    background-color: $dark-blue;
}

.pattern 
    {
        position: absolute;
        
        img 
        {
            width: 100vw;
            object-fit: cover;
            opacity: .8;
        }
    }

.menu 
{
    
    @include menu-lateral;

    .logo 
    {
        h1 
        {
            font-size: 4em;
            letter-spacing: 5px;
            span 
            {
                color: $scarlet-red;
                font-weight: 400;

            }
        }

    }
    
    .navbar 
    {

        ul 
        {
            text-align: left;
            display: flex;
            flex-direction: column;

            li 
            {
                display: flex;
                width: 150px;
                height: 25px;
                margin-bottom: 40px;

                i
                {
                    color: $gold-yellow;
                    align-self: center;
                }

                a 
                {
                    display: flex;

                    p 
                    {
                        color: $off-white;
                        font-size: 1em;
                        font-weight: 700;
                        align-self: flex-end;
                        padding-left: 15px;

                        &:hover 
                        {
                            color: $gold-yellow;
                        }
                    }
                    
                    
                    
                }
            }
        }

    }

    .signature 
    {
        display: flex;
        img 
        {
            width:10%;
            border: 1px solid $wash-blue;
            border-radius: 50px;
        }

        p 
        {
            color: $wash-blue;
            margin-left: 10px;
        }
    }

}

.main-container 
{
    margin-left: 25%;
    margin-right: 5%;
    height: 100vh;

    .homepage 
    {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $off-white;
        height: 100vh;

        h2 
        {
            font-size: 3em;
            margin-top: 15px;
            letter-spacing: 5px;

        }

        p
        {
            font-size: 1em;
            margin-top: 15px;
            font-weight: lighter;
        }
        
        img 
        {
            width: 10%;
        }

        ul 
        {
            display: flex;
            margin-top: 25px;

            li 
            {
                padding: 0px 10px;
            }
        }

        .button 
        {
            @include button-red
        }
    }
}

.folio-container 
{
    margin-left: 25%;
    margin-right: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card 
    {
        width: 30%;
        height: 60vh;
        border-radius: 25px;
        padding: 20px;
        margin: 0px 50px;
        border: 1px solid $wash-blue;
        background-color: $off-white-t;

        .preview 
        {
            width: 100%;
            border-radius: 25px;


            img 
            {
                width: 100%;
                object-fit: cover;
                border-radius: 25px;
            }
        }

        .resume 
        {
            text-align: center;
            h2 
            {
                color: $gold-yellow;
                font-size: calc( 1.5vw + 6px);
                margin-top: 10px;
            }

            p 
            {
                color: $off-white;
                font-size: calc( .4vw + 6px);
                margin-top: 10px;
            }
        }
        
        .button 
        {
            @include button-red;
            text-align: center;
            
        }

        &:hover 
        {
            background-color: $off-white-th;
        }
    }

    
}
