@import 'variables';
@import 'mixins';

* {
    @include reset-list;
    @include font-rules;
}

body 
{
    background-color: $dark-blue;
}

.menu 
{
    @include menu-lateral;
    .logo 
    {
        h1 
        {
            font-size: 4em;
            letter-spacing: 5px;
            span 
            {
                color: $scarlet-red;
                font-weight: 400;

            }
        }

    }
    
    .navbar 
    {

        ul 
        {
            text-align: left;
            display: flex;
            flex-direction: column;

            li 
            {
                display: flex;
                width: 150px;
                height: 25px;
                margin-bottom: 40px;

                i
                {
                    color: $gold-yellow;
                    align-self: center;
                }

                a 
                {
                    display: flex;

                    p 
                    {
                        color: $off-white;
                        font-size: 1em;
                        font-weight: 700;
                        align-self: flex-end;
                        padding-left: 15px;

                        &:hover 
                        {
                            color: $gold-yellow;
                        }
                    }
                    
                    
                    
                }
            }
        }

    }

    .signature 
    {
        display: flex;
        img 
        {
            width:10%;
        }

        p 
        {
            color: $wash-blue;
            margin-left: 10px;
        }
    }

}

.main-container 
{
    margin-left: 25%;
    margin-right: 5%;
    height: 100vh;
    
    .homepage 
    {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $off-white;
        height: 100vh;

        h2 
        {
            font-size: 3em;
            margin-top: 15px;
            letter-spacing: 5px;

        }

        p
        {
            font-size: 1em;
            margin-top: 15px;
            font-weight: lighter;
        }
        
        img 
        {
            width: 10%;
        }

        ul 
        {
            display: flex;
            margin-top: 25px;

            li 
            {
                padding: 0px 10px;

            }
        }

        .button 
        {
            margin-top: 35px;
            a 
            {
                color: $off-white;
                background-color: $scarlet-red;
                padding: 10px 20px;
                border-radius: 10px;
                
                &:hover
                {
                    color: $wash-blue;
                    background-color: $gold-yellow;
                }
            }

        }
    }
}
