@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #353253;
}

.pattern {
  position: absolute;
}
.pattern img {
  width: 100vw;
  object-fit: cover;
  opacity: 0.8;
}

.menu {
  position: fixed;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #353253;
  color: #f9fbfa;
  border-right: 1px solid #8481a2;
}
.menu .logo h1 {
  font-size: 4em;
  letter-spacing: 5px;
}
.menu .logo h1 span {
  color: #ff4b5f;
  font-weight: 400;
}
.menu .navbar ul {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.menu .navbar ul li {
  display: flex;
  width: 150px;
  height: 25px;
  margin-bottom: 40px;
}
.menu .navbar ul li i {
  color: #ffd05f;
  align-self: center;
}
.menu .navbar ul li a {
  display: flex;
}
.menu .navbar ul li a p {
  color: #f9fbfa;
  font-size: 1em;
  font-weight: 700;
  align-self: flex-end;
  padding-left: 15px;
}
.menu .navbar ul li a p:hover {
  color: #ffd05f;
}
.menu .signature {
  display: flex;
}
.menu .signature img {
  width: 10%;
  border: 1px solid #8481a2;
  border-radius: 50px;
}
.menu .signature p {
  color: #8481a2;
  margin-left: 10px;
}

.main-container {
  margin-left: 25%;
  margin-right: 5%;
  height: 100vh;
}
.main-container .homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9fbfa;
  height: 100vh;
}
.main-container .homepage h2 {
  font-size: 3em;
  margin-top: 15px;
  letter-spacing: 5px;
}
.main-container .homepage p {
  font-size: 1em;
  margin-top: 15px;
  font-weight: lighter;
}
.main-container .homepage img {
  width: 10%;
}
.main-container .homepage ul {
  display: flex;
  margin-top: 25px;
}
.main-container .homepage ul li {
  padding: 0px 10px;
}
.main-container .homepage .button {
  margin-top: 35px;
}
.main-container .homepage .button a {
  color: #f9fbfa;
  background-color: #ff4b5f;
  padding: 10px 20px;
  border-radius: 10px;
}
.main-container .homepage .button a:hover {
  color: #353253;
  background-color: #ffd05f;
}

.folio-container {
  margin-left: 25%;
  margin-right: 5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.folio-container .card {
  width: 250px;
  height: 250px;
  margin: 15vh auto;
  padding: 30px;
  border-radius: 50%;
  background-image: url(img/Job01_Sample.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 2px solid #f9fbfa;
  transition: 0.5s;
}
.folio-container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ffd05f;
  opacity: 0.2;
}
.folio-container .card:hover {
  background-image: url(img/Nephyla.gif);
  background-position: -90px;
  transform: scale(1.1);
  border: 5px solid #ffd05f;
}

/*# sourceMappingURL=style.css.map */
